* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /common rules */
#app-nav {
    height: 50px;
    background-color: aquamarine;
    display: flex;
}

#app-bot-header {
    background-color: blue;
    height: 400px;
    display: flex;
}

#app-main1 {
    display: flex;
    background-color: bisque;
    height: 500px;
}

#app-main2 {
    display: flex;
    background-color: rgb(185, 140, 84);
    height: 500px;
}

#app-main3 {
    display: flex;
    background-color: rgb(196, 43, 196);
    height: 800px;
}

#app-top-footer{
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 500px;
}

.bd{
    border: 2px dashed rgb(255, 0, 0);
}

/* #nav*/

.flex-nav {
    display: flex;
    margin: 0.7rem auto;
    width: 70%;
    background-color: aquamarine;
}

.logo {
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    background-color: bisque;
    justify-content: left;
    align-items: center;
}

.nav {
    display: flex;
    flex-grow: 5;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

.link {
    padding: 0.2rem;
}

.login {
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    background-color: brown;
    justify-content: end;
    align-items: center;
}

/* end#nav */

/* app-bot-header */

.header-container {
    display: flex;
    width: 60%;
    margin: 2rem auto;
    background-color: rgb(219, 55, 178);
}

/* #end-app-bot-header */

/* main section */

.main-content {
    display: flex;
    background-color: black;
    width: 70%;
    margin: 2rem auto;
}

.article {
    display: flex;
    flex-grow: 3;
    background-color: aqua;
}

.img {
    display: flex;
    flex-grow: 2;
    background-color: rgb(165, 34, 51);
}

.main-container {
    display: flex;
    background-color: rgb(41, 155, 60);
    width: 70%;
    margin: 2rem auto;
}

/* #end main-section */

/* footer */

.flex-footer-container {
    display: flex;
    background-color: rgb(37, 47, 184);
    width: 70%;
    margin: 2rem auto;
}

.column{
    display: flex;
    flex-grow: 2;
    background-color: aqua;
}

.column1{
    display: flex;
    flex-grow: 1;
    background-color: rgb(166, 62, 180);
}
/* #end footer */